.contact__title {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;

  @include mobile {
    gap: 2px;
    margin-top: 18px;
  }
}

.contact__title--item {
  font-size: 80px;
  @apply tw-text-white;
  font-weight: 500;
  font-family: 'flexible', sans-serif;
  font-variation-settings: "wdth" 200, "HGHT" 200;
  transform: scaleY(0);
  transition: transform .4s cubic-bezier(.25, 1, .5, 1), font-variation-settings .4s cubic-bezier(.25, 1, .5, 1);
  transform-origin: top;

  &.pull {
    font-variation-settings: "wdth" 200, "HGHT" 1000;
    transition: transform .4s cubic-bezier(.25, 1, .5, 1), font-variation-settings .4s cubic-bezier(.25, 1, .5, 1);
    transform: scaleY(1);
    transform-origin: bottom;
  }

  @include mobile {
    font-size: 50px;
  }
}