@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;700;800&display=swap');
@import "@mdi/font/css/materialdesignicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

:root {
  --gray-light-color: #ECE8E1;
  --gray-dark-color: #151313;
  --black-almost-color: #051130;
  --blue-royal: #3a2bba;
  --green-lime: #e0f954;
  --white-color: #fff;
  --black-color: #000;
  --bg-gray-light: #d7d7d7;
  --box-shadow-button: transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px, rgba(0, 0, 0, .12) 0px 1px 1px 0px, rgba(64, 68, 82, .16) 0px 0px 0px 1px, transparent 0px 0px 0px 0px, transparent 0px 0px 0px 0px, rgba(64, 68, 82, .08) 0px 2px 5px 0px;
}

@font-face {
  font-family: 'Integral CF';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../../public/fonts/Fontspring-DEMO-integralcf-regular.otf') format('truetype');
}

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--gray-light-color) !important;
  cursor: url('/icons/cursor.svg'), auto;
}

body:active {
  cursor: url('/icons/cursor-active.svg'), auto;

}