.feature-work-title {
  font-size: 100px;
  color: var(--color-silver);
  font-weight: 500;
  font-family: 'flexible', sans-serif;
  font-variation-settings: "wdth" 200, "HGHT" 200;
  transform: scaleY(0);
  transition: transform .4s cubic-bezier(.25, 1, .5, 1), font-variation-settings .4s cubic-bezier(.25, 1, .5, 1);
  transform-origin: top;

  &.pull {
    font-variation-settings: "wdth" 200, "HGHT" 1000;
    transition: transform .4s cubic-bezier(.25, 1, .5, 1), font-variation-settings .4s cubic-bezier(.25, 1, .5, 1);
    transform: scaleY(1);
    transform-origin: bottom;
  }

  @include mobile {
    font-size: 50px;
  }
}