.modal__success {
  transform: translate(-50%, -50%);
  padding: 16px;
  transition: all 0.25s ease-out;
  z-index: 300000;

  @include mobile{
    width: 80%;
  }

  @include tablet{
    width: 65%;
  }
}

.btn__close {}

.message {
  font-family: 'Syne', sans-serif;
}