.project {
  &__list {
    margin-top: 80px;
    grid-auto-rows: 1fr;
  }

  &__info {
    padding: 16px;
  }

  &__title {
    font-family: 'Syne', sans-serif;
  }

  &__tech-list {
    margin-top: 14px;
  }

  &__tech-item {
    padding: 6px 12px;
    background: var(--black-color);
    color: var(--white-color);
    border: 1.5px solid var(--black-color);
    transition: 0.2s ease-in-out;
    box-shadow: var(--box-shadow-button);

    &:hover {
      background: var(--white-color);
      color: var(--black-color);
      transition: 0.2s ease-in-out;
      box-shadow: 4px 4px 0 rgba(0,0,0,1);
    }
  }
}